# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.3D_GameProgramming.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Lucad\Documents\3D_GameProgramming\.idea\.idea.3D_GameProgramming\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
